<h1>Thanks so much for sending an email to your lawmakers.</h1>

Our work today will help propel forward critical reforms to curtail the NSA's
mass spying programs and protect our rights and democracy.  Sending an email is
a great start, but we need you to do two more things:

Tens of thousands of people are calling Congress today. Will you join them?
It's 10 times as impactful as sending an email, it'll only take 2 minutes, and
we'll make it easy for you by giving you a call script and connecting you to
the right office.

Then, or if you can't call, please share info about The Day We Fight Back, to
make sure as many people as possible are taking part.

If we persist, we will win this fight.

<strong>Thanks so much.</strong>

-The Day We Fight Back team

{{user}}
