<h2>Thanks so much for sending an email to your lawmakers.</h2>

<p>Our work today will help propel forward critical reforms to curtail the
NSA's mass spying programs and protect our rights and democracy. Sending an
email is a great start but if you haven't yet we need you to do two more
things:</p>

<p><strong>1.</strong> Tens of thousands of people are calling Congress today.
Have you joined them? It's 10 times as impactful as sending an email, it'll
only take 2 minutes, and we'll make it easy for you by giving you a call script
and connecting you to the right office: <a
 href="https://thedaywefightback.org">Click here to make a call.</a></p>

<p><strong>2.</strong> If you can't call, please share information about The
Day We Fight Back to make sure as many people as possible are taking part.
Here are some links to help:

<a href="https://www.facebook.com/sharer/sharer.php?app_id=709021229138321&u=https%3A%2F%2Fthedaywefightback.org%2F" target="_blank">Share on Facebook</a>, <a href=https://twitter.com/intent/tweet?status=Today%2C%20I%20took%20a%20stand%20against%20mass%20surveillance%20by%20the%20NSA%20.%20Will%20you%20join%20me%3F%20https%3A%2F%2Fthedaywefightback.org%2F%20%23stopthensa&related=daywefightback,sinak,neutralthoughts,stopwatchingus,eff" target="_blank">Share on Twitter</a>, <a href="https://plus.google.com/share?url=https://thedaywefightback.org/" target="_blank">Share on Google +</a>, <a href="http://www.tumblr.com/reblog/76297516785/RnSfIgVu" target="_blank">Share on Tumblr</a>.</p>

<p>If we persist, we will win this fight.</p>

<p><strong>Thanks so much.</strong></p>

<p>&mdash; The Day We Fight Back team</p>
