<h1>Thank you for signing!</h1>

<p>With your signature we'll be taking the <a
 href="https://necessaryandproportionate.org/text">Necessary and Proportionate
 Principles</a> to politicans, diplomats, lawmakers, and judges to show them
that mass surveillance is a violation of human rights--wherever it occurs.</p>

<p><em>But there's more that can be done.</em> Check out <a
 href="https://necessaryandproportionate.org/signatories">the digital rights
 and privacy groups in your country</a> to see what's being done to fight back
against global bulk surveillance.</p>

<p>If you don't see anyone fighting: start a group yourself! Remember: It might
be your action, and your organization, in your country, which give us our final
victory against bulk spying.</p>

<p><strong>Thanks again so much, for everything.</strong></p>

<p>&mdash; The Day We Fight Back team</p>
